<div class="story-box">
  <div class="story-header">
    {{ story.title }}<span class="story-author">,
      par <a href="{{ path('byauthor', {author:story.author}) }}">{{ story.author }}</a></span>
    <span class="story-date">{{ story.createdAt|date("m/d/Y H:i") }}</span>
  </div>
  <div class="story-content">
    {{ story.content |nl2br }}
  </div>
  <a href="{{ path('moderate/delete', {id:story.id}) }}">Brûlez tout.</a>
  <a href="{{ path('moderate/validate', {id:story.id}) }}">Ouais c'est pas mal.</a>
</div>
